@inherits LayoutComponentBase

<div class="page">
    <div class="navigation">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>

    <footer class="main-footer">
        <div class="container">
            <div class="about-us">
                <h2>About Us</h2>
                <p>
                    RZA offers a safari-style wildlife zoo, on-site hotel stays, and educational visits
                    <br>for unforgettable adventures. Discover, learn, and connect with nature!
                </p>
            </div>
            <div class="links">
                <div class="edu-visit-links">
                    <h2>Educational</h2>
                    <ul>
                        <li><a href="#">Materials</a></li>
                        <li><a href="#">Educational Visits</a></li>
                    </ul>
                </div>
                <div class="booking">
                    <h2>Booking</h2>
                    <ul>
                        <li><a href="#">Zoo Tickets</a></li>
                        <li><a href="#">Hotel</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
</div>

