<nav class="navbar">
    <div class="navbar-logo">
        <h1>RZA</h1>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Explore</a></li>
        <li><a href="/">Plan Your Visit</a></li>
        <li><a href="/">Education</a></li>
    </ul>
</nav> 