@using RZA_WebsiteJS.Utilities
@using RZA_WebsiteJS.Services
@using RZA_WebsiteJS.Models
@inject CustomerService CustomerService
@inject UserSession UserSession
@inject NavigationManager NavigationManager

@page "/Account"

<link rel="stylesheet" a href="/css/styles.css" />


@if (customer != null)
{
    <section id="top">
        <h3>Account Page</h3>
        <button onclick=@Logout>Log Out</button>
    </section>

    <section id="content">
      

        <div class="title">
            <h2>Hello, @customer.FirstName @customer.LastName </h2>
            <p>Welcome to Riget Zoo Adventures</p>
        </div>

        <div class="explore-container">
            <div class="card">
                <div class="crd-ctn">
                    <button class="btn" @onclick="OverToBooking">Book Hotel tickets</button>
                </div>
            </div>

            <div class="card">
                <div class="crd-ctn">
                    <button class="btn" onclick=@Modify>Modify Password</button>
                </div>
                
            </div>
        </div>
      

            
       

    </section>
    
}

@code {
    private Customer customer;

    private bool loaded = false;

    protected override async Task OnInitializedAsync()
    {
        if (UserSession.UserId == 0)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            customer = await CustomerService.GetCustomerFromIdAsync(UserSession.UserId);
        }
    }

    private async Task OverToBooking()
    {
        NavigationManager.NavigateTo("/Bookinghotel");
    }

    private void Modify()
    {
        NavigationManager.NavigateTo("/Modifyacc");
    }

    private async Task Logout()
    {
        UserSession.UserId = 0;
        NavigationManager.NavigateTo("/");
    }
}