@page "/Education"

<section class="hero">
    <div class="hero-image">
        <img src="images/education.jpg" />
    </div>
    <div class="container-card">
        <div class="content">
            <h2>Education</h2>
            <p>Bring students closer to nature and animals in our zoo!</p>
        </div>
    </div>
</section>

<section id="education">
    <div class="edu-title">
        <h1>Take your learning out of the classroom and into the wild!</h1>
        <div class="line"></div>
    </div>
    
    <div class="edu-container">
        <div class="education-content-1">
            <h2>Educational Trips</h2>
            <p>Plan an educational trip to the zoo! Students can explore wildlife up close, learn about habitats and conservation, 
                and enjoy interactive activities like guided tours and animal encounters—perfect for inspiring curiosity and environmental awareness.</p> 

            <a class="btn" href="pdfs/educational trip.pdf"download="Educational Trip Info">Download</a>
        </div>

        <div class="image-1">
            <img src="images/tripimage.jpg" />
        </div>
    </div>

    <div class="edu-container">

        <div class="image-1">
            <img src="images/tripimage2.jpg" />
        </div>

        <div class="education-content-1">
            <h2>Events & Activites</h2>
            <p>
                Plan an exciting day at the zoo! From interactive animal encounters to engaging educational programs, 
                students will explore the wonders of wildlife and deepen their understanding of conservation.
            </p>

            <a class="btn" href="images/bear.jpg" download="Events & Acitvities Info">Download</a>
        </div>

      
    </div>
   
</section>


@code {

}
