@page "/Explore"

<section class="hero">
    <div class="hero-image">
        <img src="images/monke.jpg" />
    </div>
    <div class="container-card">
        <div class="content">
            <h2>Meet Our Animals</h2>
            <p>Explore our various & different animals at Riget Zoo!</p>
        </div>
    </div>
</section>

<section id="explore">
    <div class="explore-container">
        <div class="card">
            <img src="images/panda.jpg" />
            <div class="card-content">
                <h2>Panda</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
        <div class="card">
            <img src="images/tiger.jpg" />
            <div class="card-content">
                <h2>Tiger</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
        <div class="card">
            <img src="images/parrot.jpg" />
            <div class="card-content">
                <h2>Parrot</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
        <div class="card">
            <img src="images/giraffe.jpg" />
            <div class="card-content">
                <h2>Giraffe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
        <div class="card">
            <img src="images/bear.jpg" />
            <div class="card-content">
                <h2>Bear</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
        <div class="card">
            <img src="images/flamingo.jpg" />
            <div class="card-content">
                <h2>Flamingo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
    </div>
</section>

@code {

}
