@page "/"

<PageTitle>Home</PageTitle>

<div class="hero-image">
    <div class="hero-text">
        <h1>Visit Riget Zoo Adventures!</h1>
    </div>

    <div style="float:left">
        <a href="#about" class="btn-tix">Book Tickets</a>
    </div>
</div>

<section class="white-space"></section>
