@page "/"

<PageTitle>Home</PageTitle>

<div class="hero-image">
    <div class="hero-text">
        <h1>Visit Riget Zoo Adventures!</h1>
    </div>

    <div style="float:left">
        <a href="#about" class="btn-tix">Book Tickets</a>
    </div>
</div>

<section class="white-space"></section>

<section class="offer-container">
    <div class="offer-card">

        <div class="offer-title">
            <h2>What We Offer?</h2>
            <p>Dont Miss It Out...</p>
        </div>

        <div class="offer-contents">
            <div class="card1">
                <div class="image-container">
                    <img src="/images/membership.jpg" id="mem" height="390" width="255" />
                    <div class="text-overlay">
                        <h2>Membership</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                        <a href="#about" class="offer-btn">Become A Member</a>
                    </div>
                </div>

                <div class="image-container">
                    <img src="/images/hotel image.jpg" id="mem" height="275" width="255" />
                    <div class="text-under">
                        <h2>Hotel Stays</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit</p>
                        <a href="#about" class="offer-btn">Book Hotel</a>
                    </div>
                </div>


                <div class="image-container">
                    <img src="/images/education image.jpg" id="mem" height="275" width="255" />
                    <div class="text-under">
                        <h2>Educaitonal Acitvities</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit</p>
                        <a href="#about" class="offer-btn">Check It out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>