@page "/Modifyacc"

@using RZA_WebsiteJS.Utilities
@using RZA_WebsiteJS.Services

@inject UserSession UserSession
@inject CustomerService CustomerService

@rendermode InteractiveServer

<link rel="stylesheet" href="css/styles.css" />

<div class="sign-container">
    <div class="sign-card">
        <div class="image-side">
            <img src="/images/log-in image.jpg" id="mem" width="300" />
        </div>

        <div class="form-side">
            <h2>Change Password</h2>

            <div class="input-box">
                <input @bind-value="@oldPassword" type="password" class="input-field" placeholder="Old Password" autocomplete="off" required />
            </div>

            <div class="input-box">
                <input @bind-value="@newPassword" type="password" class="input-field" placeholder="New Password" required />
            </div>

            <div class="input-box">
                <input @bind-value="@newPasswordConfirm" type="password" class="input-field" placeholder="Confirm New Password" autocomplete="off" required />
            </div>

            <button @onclick="ChangePassword" type="submit" class="submit-btn">Confirm</button>
        </div>
    </div>
</div>

@code {
    private string oldPassword;
    private string newPassword;
    private string newPasswordConfirm;
    private async Task ChangePassword()
    {
        if (newPassword == newPasswordConfirm)
        {
            string hashedNewPassword = PasswordUtils.HashPassword(newPassword);
            string hashedOldPassword = PasswordUtils.HashPassword(oldPassword);
            await CustomerService.ChangePassword(UserSession.UserId, hashedOldPassword, hashedNewPassword);
        }
    }
}
