<link rel="stylesheet" href="css/styles.css" />

@page "/Sign-in"

<PageTitle>Sign-in</PageTitle>

<div class="signin-container">
   

    <div class="signin-card">
        <div class="image-side">
            <img src="/images/log-in image.jpg" id="mem" width="300" />
        </div>
    
        <div class="form-side">
            <h2>Sign-in</h2>

            <div class="input-box">
                <input type="email" class="input-field" placeholder="Email" autocomplete="off" required />
            </div>

            <div class="input-box">
                <input type="password" class="input-field" placeholder="Password" required />
            </div>

            <div class="options">
                <section>
                    <input type="checkbox" id="check" />
                    <label for="check">Remember me</label>
                </section>
                <section>
                    <a href="">Forgot Password?</a>
                </section>
            </div>

            <input type="submit" class="submit-btn" value="Sign in" />

            <div class="sign-up-link">
                <p>Dont have an account? <a href="">Sign Up Now</a></p>
            </div>
        </div>
    </div>

</div>

