.ticket-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.ticket-card {
    height: 400px;
    width: 850px;
    padding: 20px 35px;
    background-color: #625D4A;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: flex-start;
}

button.book-btn {
    position: relative;
    margin: 10px;
    width: 50%;
    color: white;
    font-size: 16px;
    padding: 3px 20px;
    border-radius: 5px;
    border-style: none;
    background-color: #BAAE99;
}

button.submit-book:hover {
    background-color: #A89784;
}

button.addBasket-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 50%;
    border: none;
    background-color: #BAAE99;
    color: white;
    margin: 0;
}

.title-text {
    margin-top: 50px;
    text-align: center;
}

.bk-date {
    border-style: none;
    background-color: white;
    border-radius: 5px;
    padding: 7px;
}

.ticket-card {
    display: flex;
}

.ticket-side h2 {
    margin-bottom: 15px;
}

.ticket-content {
    display: flex;
    justify-content: space-between;
    margin: 0px 45px;
}

.bsk-btn {
    margin-top: 4px;
}
