@using RZA_WebsiteJS.Models
@using RZA_WebsiteJS.Services
@using RZA_WebsiteJS.Utilities
@inject AttractionService AttractionService
@inject UserSession UserSession
@inject NavigationManager NavigationManager
@inject TicketbookingService TicketbookingService
@inject TicketService TicketService

@page "/Tickets"

<h3>Tickets</h3>

<link rel="stylesheet" a href="/css/styles.css" />


@if (attractions != null)
{
    @foreach (Attraction attraction in attractions)
    {
        <div>
            @attraction.Name: £@attraction.Entryfee
            <button @onclick="@(e => AddTicket(attraction.AttractionId))">Add to Basket</button>
        </div>
    }
    <input type="date" min=@DateTime.Now.ToString("yyyy-MM-dd") @bind=@ticketDate>

    <label style="color: white; background-color: #345A54">@message</label>
    <button @onclick=@BookTickets>Book Tickets</button>
}
else
{
    <div>no attractions</div>
}



@code {
    List<Attraction> attractions;
    List<Ticket> tickets;
    DateOnly ticketDate;
    Ticketbooking newTicketbooking;
    private string message;

    protected override async Task OnInitializedAsync()
    {
        if (UserSession.UserId == null || UserSession.UserId == 0)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            attractions = await AttractionService.GetAttractionsAsync();
            tickets = new List<Ticket>();
            newTicketbooking = new Ticketbooking();
        }
    }
    private void AddTicket(int attractionId)
    {
        Ticket newTicket = new Ticket();
        newTicket.AttractionId = attractionId;
        tickets.Add(newTicket);
    }
    private async Task BookTickets()
    {

        if (tickets.Count == 0)
        {
            message = "Please Add Something in Your Basket";
            return;
        }

        //this one books all the tickets in the basket
        Ticketbooking newTicketbooking = new Ticketbooking();
        newTicketbooking.CustomerId = UserSession.UserId;
        newTicketbooking.DateBooked = ticketDate;
        newTicketbooking.Date = DateOnly.FromDateTime(DateTime.Now);
        await TicketbookingService.AddTicketbookingAsync(newTicketbooking);
        foreach (Ticket ticket in tickets)
        {
            ticket.Ticketbooking = newTicketbooking;
            await TicketService.AddTicketAsync(ticket);
        }

    }
}
